/* Shared styles */

* {
  padding: 0;
  margin: 0;
  max-width: 1600px;
  font-family: "Merriweather", serif;
  margin: 50px auto 0px;
}

/* Header section styles */
.banner {
  background-image: url("../assets/images/Banner\ Image.png");
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  border-radius: 16px;
  /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.banner-content {
  padding: 177px 344px;
}

.new-year-greeting {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
/* Main section styles */
main section {
  margin-bottom: 120px;
  width: 1320px;
}

.offer-section-content {
  text-align: center;
  margin-top: 120px;
}

.offer-section-content h1 {
  color: #f00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.offer-section-content p {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
}

.offer-section-content h3 {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
  margin-top: 20px;
}

.offer-section-content img {
  width: 802.9px;
  height: 500px;
}

/* Midnight party banner */

.midnight-party-banner {
  background-image: url("../assets/images/Vectorrr.png");
  width: 1320px;
  height: 600px;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin: 120px 140px;
  align-items: center;
  gap: 40px;
}

.midnight-party-banner-content {
  padding: 126px 40px 140px 126px;
}
.midnight-party-banner-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.midnight-party-banner-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 24px 0px 48px 0px;
}

.midnight-party-banner-button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

.midnight-party-banner a {
  text-decoration: none;
  margin-left: 32px;
  margin-bottom: 142px;
}

.midnight-party-banner img {
  margin: 68px 130px;
}

/* Midnight party description */

.midnight-party-description-content {
  color: #070211;
  font-family: Inter;
  padding: 110px 300px;
  font-size: 32px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}

.midnight-party-description-content .title {
  color: #f00;
}

.midnight-party-description-content button {
  border-radius: 8px;
  border: none;
  background: #f00;
  padding: 16px 32px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

/* New best offer */

.new-best-offer {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

.new-best-offer-left-column h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.new-best-offer-left-column h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.new-best-offer-left-column p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.new-best-offer-middle-column {
  border-radius: 463px;
  border: 15px solid #f00;
}

.new-best-offer-right-column h3 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.new-best-offer-right-column p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

/* portfolio section */
.portfolio-descriptions h4 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-descriptions h2 {
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom: 22px;
}

.portfolio-descriptions p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-right: 424px;
    margin-bottom: 48px;
}




/* Footer section styles */
